<svg class="brand-link__symbol" viewBox="0 0 100.29 100" aria-hidden="true" focusable="false">
  <rect x="40" y="0" width="20.29" height="12.57" fill="#c84119"/>
  <rect x="0.29" y="18.855" width="20" height="18.156" fill="currentColor"/>
  <rect x="0" y="40.922" width="20.29" height="18.156" fill="currentColor"/>
  <rect x="0.29" y="62.989" width="20.29" height="18.017" fill="#c84119"/>
  <rect x="40" y="18.855" width="20.29" height="62.151" fill="currentColor"/>
  <rect x="40" y="87.43" width="20.29" height="12.57" fill="currentColor"/>
  <rect x="80" y="18.855" width="20" height="12.57" fill="currentColor"/>
  <rect x="80" y="36.872" width="20" height="44.134" fill="#c84119"/>
</svg>
