<svg xmlns="http://www.w3.org/2000/svg" viewBox="261 157 270 549" class="brand-link__symbol" aria-hidden="true" focusable="false">
  <rect x="370.48" y="163.3" width="51.63" height="66.97" rx="3.75" fill="#c84119"/>
  <rect x="267.21" y="264.82" width="51.63" height="96.61" rx="3.75" fill="currentColor"/>
  <rect x="267.21" y="383.25" width="51.63" height="96.61" rx="3.75" fill="currentColor"/>
  <rect x="267.71" y="501.67" width="51.63" height="96.61" rx="3.75" fill="#c84119"/>
  <rect x="370.48" y="264.82" width="51.63" height="333.41" rx="3.75" fill="currentColor"/>
  <rect x="370.48" y="633.31" width="51.63" height="66.97" rx="3.75" fill="currentColor"/>
  <rect x="473.75" y="264.82" width="51.63" height="66.97" rx="3.75" fill="currentColor"/>
  <rect x="473.75" y="361.46" width="51.63" height="236.79" rx="3.75" fill="#c84119"/>
</svg>
